/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/
.call-button {
	color: #47d247;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.75rem 2rem;
    border: 2px solid #47d247;
    transition: all 0.25s;
	border-radius: 20px;
	max-width: 300px;
	text-align: center;

    &:hover {
    	color: #fff;
    	background-color: #47d247;
    	box-shadow: 0px 0px 0px #47d247;
    }
}

.main-nav {
	width: 100%;
	position: fixed;
	height: 7.5rem;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.5);

	.nav-logo {
		margin: auto 0;
		display: inline-flex;
		flex-direction: row;

		.logo-image {
			height: 4rem;
			border-radius: 100%;
		}

		.nav-logo-header {
			margin: auto 1rem;
		}
	}

	.nav-list {
		margin: auto 0;

		ul {
			list-style: none;
  		    display: inline-flex;

  		    .nav-list-element {
				margin: 0 0.50rem;

				.commom-button {
				    color: #FFF;
				    font-family: sans-serif;
				    font-size: 1rem;
				    font-weight: 600;
				    text-decoration: none;
				    text-transform: uppercase;
				    padding: 0.75rem 1rem;
				    transition: ease-in 0.25s;
				    border-bottom: 1px solid transparent;

				    &:hover {
				    	border-bottom: 2px solid #47d247;
				    }
				}
  		    }
		}
	}
}

.nav-scrolled {
    background: #FFF8F0;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
    height: 6rem;
}

.hero-background {
	background-image: url("../images/crianca-feliz.jpg");
	height: auto;
	background-position: center center;

	.hero-background-filter {
		background-color: rgba(0,0,0,0.5);
		display: flex;
		flex-direction: column;
		margin: auto auto;

		.hero-text {
			margin: auto auto;
			text-align: center;
			padding: 20rem;

			.hero-title{
		    	color: #fff;
		    	font-size: 48px;
		    	margin: 50px 0;
			}

			.hero-subtitle{
				font-size: 24px;
				color: rgba(255,255,255,0.75);
				margin-bottom: 75px;
				margin-top: 25px;
			}

			.hero-call-button {
				font-size: 18px;
				margin-top: 100px 0;
			}
		}
	}
}