/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/

.main-nav {
	width: 100%;
	position: fixed;
	height: 7.5rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.5);

	.nav-logo {
		margin: auto 2rem;
		display: inline-flex;
		flex-direction: row;

		.logo-image {
			height: 4rem;
			border-radius: 100%;
		}

		.nav-logo-header {
			margin: auto 1rem;
		}
	}

	.nav-list {
		margin: auto 2rem;

		ul {
			list-style: none;
  		    display: inline-flex;

  		    .nav-list-element {
				margin: 0 0.50rem;

				.commom-button {
				    color: #533A71;
				    font-family: sans-serif;
				    font-size: 1rem;
				    font-weight: 600;
				    text-decoration: none;
				    text-transform: uppercase;
				    padding: 0.75rem 1rem;
				    transition: all 0.7s;

				    &:hover {
				    	color: #FFF8F0;
				    	background-color: #FF8A05;
				    }
				}

				.call-button {
					color: #533A71;
				    font-family: sans-serif;
				    font-size: 1rem;
				    font-weight: 600;
				    text-decoration: none;
				    text-transform: uppercase;
				    padding: 0.75rem 2rem;
				    border: 2px solid #533A71;
				    box-shadow: 3px 3px 0px #533A71;
				    transition: all 0.7s;

				    &:hover {
				    	color: #FFF8F0;
				    	background-color: #533A71;
				    	box-shadow: 0px 0px 0px #533A71;
				    }
				}
  		    }
		}
	}
}

.nav-scrolled {
    background: #FFF8F0;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
    height: 6rem;
}

.hero-background {
	background-image: url("../images/mountain.png");
	height: 100%;
	background-position: center center;

	.main-title{
		margin: 0 auto;
    	text-align: center
	}

	.main-subtitle{
		margin: 0 auto;
    	text-align: center
	}
	.main-button{
		margin: 0 auto;
    	text-align: center
	}
}
