/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/
//The sections above bring normalizers for the CSS

@import './variables';

.main-nav {
	width: 100%;
	position: fixed;
	height: 7.5rem;
	display: flex;
	justify-content: space-around;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.5);

	.nav-logo {
		margin: auto 0;
		display: inline-flex;
		flex-direction: row;

		.logo-image {
			height: 4rem;
			border-radius: 100%;
		}

		.nav-logo-header {
			margin: auto 1rem;
		}
	}

	.nav-list {
		margin: auto 0;

		ul {
			list-style: none;
		    display: inline-flex;

		    .nav-list-element {
				margin: auto 0.50rem;
		    }
		}
	}
}

.nav-scrolled {
    background: #FFF8F0;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
    height: 6rem;
}

.hero-background {
	background-image: url("../images/crianca-feliz.jpg");
	height: auto;
	background-position: center center;
	.hero-background-filter {
		background-color: rgba(0,0,0,0.5);
		display: flex;
		flex-direction: column;
		margin: auto auto;

		.hero-text {
			margin: auto auto;
			text-align: center;
			padding: 20rem;

			.hero-title{
		    	color: #fff;
		    	font-size: 48px;
		    	margin: 50px 0;
			}

			.hero-subtitle{
				font-size: 24px;
				color: rgba(255,255,255,0.75);
				margin-bottom: 75px;
				margin-top: 25px;
			}

			.hero-call-button {
				font-size: $font-size-large;
				margin-top: 100px 0;
			}
		}
	}
}

.our-services {
	height: auto;
	width: 100%;
	padding: 8rem 2rem;
	display: inline-flex;
	justify-content: center;


	.service-card {
		text-align: center;

		.service-card-image-wrapper {
			max-width: 100px;
			max-height: 100px;
			margin: 0 auto;

			img {
				max-width: 100px;
				max-height: 100px;
			}
		}

		.service-card-title {
			font-size: 22px;
			color: #363636;
		}

		.service-card-description {
			font-size: $font-size-medium;
			margin: 15px auto;
			width: 80%;
			color: $color-black;
		}
	}
}

.exams {
	background-color: $color-blue-light;
	text-align: center;
	height: auto;

	.exams-title {
		font-family: $font-family-base;
		font-weight: $font-weight-bold;
		font-size: $font-size-title;
		color: $color-white;
	}

	.exams-description {
		font-family: $font-family-base;
		font-weight: $font-weight-light;
		font-size: $font-size-large;
		color: $color-white;
	}
}

.what-we-do {
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	display: flex;
	margin: 0 auto;
	width: 90%;

	.what-we-do-card {
		justify-content: space-around;
		flex-direction: row;
		font-family: $font-family-base;
		display: inline-flex;
		margin: 3rem 0;
		color: $color-black;

		.what-we-do-card-content-wrapper {
	    justify-content: space-around;
	    flex-direction: column;
			display: flex;
			margin: 0 3rem;

			.what-we-do-card-title {
				font-weight: $font-weight-bold;
				font-size: $font-size-title;
				margin: 1rem 0;
			}

			.what-we-do-card-text {
				font-weight: $font-weight-light;
				font-size: $font-size-large;
				margin: 1rem 0;
			}

			.what-we-do-card-buttom {
				margin-top: 3rem;
			}
		}
	}

	.what-we-do-card:nth-child(even) {
		flex-direction: row-reverse;
	}
}

.call-box-section {
	background-color: $color-blue-dark;
	flex-direction: column;
	align-items: center;
	display: flex;
	font-family: $font-family-base;
	font-weight: $font-weight-normal;
	color: $color-white;

	.call-box-section-title {
		text-transform: uppercase;
		font-weight: $font-weight-bold;
		font-size: $font-size-title;
	}

	.call-boxes {
		justify-content: center;
		text-align: center;
		display: inline-flex;
		width: 100%;

		.call-box {
			background-color: $color-blue;
			overflow: hidden;
			height: auto;
			width: 100%;
			text-align: center;
			padding: 2rem;

			.call-box-image-wrapper {
				img {
					max-width: 150px;
				}
			}

			.call-box-content-wrapper {
				.call-box-title {
					font-size: $font-size-extra;
				}

				.call-box-list {
					display: flex;
					justify-content: center;
					flex-direction: column;
					font-size: $font-size-large;
					list-style-type: none;
				}
			}

			& + .call-box {
				border-left: 2px solid $color-blue-light;
			}
		}
	}
}

.footer-base {
	background-color: $color-white;
	justify-content: center;
	flex-direction: row;
	padding: 3rem 1rem;
	display: flex;

	.footer-column {

		.footer-list-header {
			@include normalizeFont($font-size-extra, $font-weight-bold, $color-black);
			text-align: center;
			margin: 1rem 0;
		}

		.footer-list {
			@include normalizeFont($font-size-large, $font-weight-bold, $color-black);
			padding: .75rem 1rem;

			.footer-list-element {
				text-decoration: underline transparent dashed;
				transition: $transition-duration all;
				color: $color-black;

				&:hover {
					text-decoration: underline $color-blue-light dashed;
					color: $color-blue-light;
				}
			}
		}
	}
}

.div-error-message {
	border: 2px solid $color-red-error;
	border-radius: 5px;
	margin: 20px auto;
	max-width: 500px;
	justify-content: center;
	display: flex;
	padding: 20px;

	.div-error-message-label {
		font-size: $font-size-large;
		color: $color-red-error;
		text-align: center;
	}
}