/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/

.main-nav {
	height: 7.5rem;
    background: #FFF8F0;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);

	.nav-logo {
		margin: auto 2rem;
	}

	.nav-list {
		margin: auto 2rem;

		ul {
			list-style: none;
  		    display: inline-flex;

  		    .nav-list-element {
				margin: 0 0.50rem;

				.commom-button {
				    color: #533A71;
				    font-family: sans-serif;
				    font-size: 1rem;
				    font-weight: 600;
				    text-decoration: none;
				    text-transform: uppercase;
				    padding: 0.75rem 1rem;
				    transition: all 0.7s;

				    &:hover {
				    	color: #FFF8F0;
				    	background-color: #FF8A05;
				    }
				}

				.call-button {
					color: #533A71;
				    font-family: sans-serif;
				    font-size: 1rem;
				    font-weight: 600;
				    text-decoration: none;
				    text-transform: uppercase;
				    padding: 0.75rem 2rem;
				    border: 2px solid #533A71;
				    box-shadow: 3px 3px 0px #533A71;
				    transition: all 0.7s;

				    &:hover {
				    	color: #FFF8F0;
				    	background-color: #533A71;
				    	box-shadow: 0px 0px 0px #533A71;
				    }
				}
  		    }
		}
	}
}