@import './variables';

.hero {
  background-color: $color-blue-light;
  justify-content: center;
  display: flex;
  height: 30rem;

  .hero-title {
    @include normalizeFont($font-size-title, $font-weight-bold, $color-white);
    @include centralizeComponent();
    padding: 10px 50px;
    border: 2px solid $color-white;
  }
}

