@import './variables';

.hero {
  background-color: $color-blue-light;
  justify-content: center;
  display: flex;
  height: 30rem;

  .hero-title {
    @include normalizeFont($font-size-title, $font-weight-bold, $color-white);
    @include centralizeComponent();
  }
}

.form {
  .form-group {
    justify-content: center;
    flex-direction: column;
    display: flex;

    .form-label, .form-input-block, .radio-button-group {
      @include centralizeComponent();
      @include normalizeFont($font-size-large, $font-weight-normal, $color-black);
      width: 70%;
    }

    .form-label {
      font-size: $font-size-medium;
      font-weight: bold;
    }

    .form-input-block {
      border-radius: 5px;
      transition: $transition-duration;
      padding: .75rem 1rem;
      border: 2px solid $color-gray-light;

      &:hover {
        border: 2px solid $color-blue-light;
      }

      &:focus {
        border: 2px solid $color-blue-light;
      }
    }

    .submit-button {
      @include centralizeComponent();
      @include normalizeFont($font-size-large, $font-weight-bold, $color-blue-light);
      border-radius: 5px;
      background-color: transparent;
      transition: $transition-duration-slow all;
      padding: .75rem 1rem;
      border: 2px solid $color-blue-light;
      width: 70%;

      &:hover {
        background-color: $color-blue-light;
        color: #fff;
      }
    }
  }
}
