@import url('//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

$color-primary:               #33cd33;
$color-secondary:             #3333aa;

/* Mixed colors */
$color-secondary-light:       #5c5cce;

$color-white:                 #fff;
$color-gray-light:            #ccc;
$color-black:                 #363636;
$color-blue-light:            #4db9ff;
$color-blue:                  #202081;
$color-blue-dark:             #202046;
$color-green-light:           #5cd75c;
$color-green-dark:            #239023;
$color-green-dark-ho:		  rgba(35,144,35,0.8);
$color-red-error: 			  #e60000;
$color-red-error-lo:		  rgba(230,0,0,0.5);
$color-red-error-ho:		  rgba(230,0,0,0.8);

$font-family-base:            'Open sans', sans-serif;

$font-size-tiny:              10px;        //10px
$font-size-small:             12px;        //12px
$font-size-base:              14px;        //14px
$font-size-medium:            16px;        //16px
$font-size-large:             18px;        //18px
$font-size-extra:             22px;        //22px
$font-size-title:             36px;        //36px

$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            600;


$transition-duration:         0.25s;
$transition-duration-slow:    0.60s;

/* Z-INDEX */

$z-force:					  100;
/* MIXINS */

@mixin normalizeFont($size, $weight, $color) {
	text-decoration: none;
	font-family: $font-family-base;
	font-weight: $font-weight-normal;
	font-size: $font-size-base;
	color: $color-white;
	@if $size {
		font-size: $size;
	}
	@if $weight {
		font-weight: $weight;
	}
	@if $color {
		color: $color;
	}
}

@mixin centralizeComponent() {
  margin: auto auto;
}

/* FUNCTIONS */

@function toRem($px) {
  $value: $px/16px;
  @return #{$value}rem;
}

/* COMPONENTS */

%button {
	text-transform: uppercase;
	transition: all $transition-duration;
	text-align: center;
	max-width: 300px;
	padding: 0.75rem 1rem;
	cursor: pointer;
}

.commom-button {
	@include normalizeFont($font-size-base,$font-weight-bold,$color-black);
	@extend %button;
    border-bottom: 1px solid transparent;

    &:hover {
      color: $color-primary;
      border-bottom: 2px solid $color-primary;
    }
}

.call-button {
	@include normalizeFont($font-size-medium,$font-weight-bold,$color-primary);
	@extend %button;
	padding: 0.5rem 1rem;
	border: 2px solid $color-primary;
	border-radius: 20px;

	&:hover {
		color: $color-white;
		background-color: $color-primary;
	}
}

.simple-button {
	@include normalizeFont($font-size-base,$font-weight-bold,$color-secondary);
	@extend %button;
	border-radius: 3px;
	border: 2px solid $color-secondary;

	&:hover {
		background-color: $color-secondary;
		color: $color-white;
	}
}

.shadow-buttom {
	@include normalizeFont($font-size-large,$font-weight-bold,$color-white);
	@extend %button;
	background-color: $color-secondary-light;
	border-radius: 3px;
	box-shadow: 0 0 5px $color-black;

	&:hover {
		box-shadow: 0 0 3px $color-black;
		background-color: $color-secondary;
		color: $color-white;
	}
}

.form {
  .form-group {
    justify-content: center;
    flex-direction: column;
    display: flex;

    .form-label, .form-input-block, .radio-button-group {
      @include centralizeComponent();
      @include normalizeFont($font-size-base, $font-weight-normal, $color-black);
      width: 70%;
    }

    .form-label {
      font-size: $font-size-medium;
      font-weight: bold;
    }

    .form-input-block {
      border-radius: 5px;
      transition: $transition-duration;
      padding: .75rem 1rem;
      border: 2px solid $color-gray-light;

      &:hover {
        border: 2px solid $color-blue-light;
      }

      &:focus {
        border: 2px solid $color-blue-light;
      }
    }

    .submit-button {
      @include centralizeComponent();
      @include normalizeFont($font-size-large, $font-weight-bold, $color-blue-light);
      border-radius: 5px;
      background-color: transparent;
      transition: $transition-duration-slow all;
      padding: .75rem 1rem;
      border: 2px solid $color-blue-light;
      width: 70%;

      &:hover {
        background-color: $color-blue-light;
        color: #fff;
      }
    }
  }
}

%info-box {
	justify-content: center;
	text-decoration: none;
	border-radius: 10px;
	transition: $transition-duration all;
	padding: 10px 15px;
	display: inline-flex;
	border: 2px solid $color-black;

	&:hover {
	    background-color: $color-black;
    }

    &:hover .info-name {
	    color: #fff;
    }

    .info-name {
		@include normalizeFont($font-size-base,$font-weight-bold, $color-black);
		transition: $transition-duration all;
	}
}

.user-info-box {
	@extend %info-box;
	border-color: $color-blue-light;

	&:hover {
		background-color: $color-blue-light;
	}

	.info-name {
		color: $color-blue-light;
	}
}

.admin-info-box {
	@extend %info-box;
	border-color: $color-primary;

	&:hover {
		background-color: $color-primary;
	}

	.info-name {
		color: $color-primary;
	}
}

.admin

%div-message {
	background-color: $color-black;
	justify-content: center;
	position: absolute;
	z-index: $z-force;
	display: flex;
	padding: 20px;
	margin: 0 auto;
	width: 100%;
	top: 5rem;

	.div-message-label {
		@include normalizeFont($font-size-medium, $font-weight-bold, $color-white);
		text-align: center;
	}
}

.div-error-message {
	@extend %div-message;
	background-color: $color-red-error-ho;
}

.div-success-message {
	@extend %div-message;
	background-color: $color-green-dark-ho;
}