@import url('//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

$color-primary:               #33cd33;
$color-secondary:             #3333aa;

$color-white:                 #fff;
$color-black:                 #363636;

$font-family-base:            'Open sans', sans-serif;


$font-size-base:              1rem;

$font-weight-normal:          400;
$font-weight-bold:            600;


$transition-duration:         0.25s;
